.menu-section-form {
    display: flex;
    align-items: center;
    text-align: center;
    h4 {
      margin: 0;
      margin-right: 2rem;
    }
    button {
      .mat-icon {
        margin: 0;
      }
    }
  }
  