@import '../../../styles/colors.scss';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.menu-section-form,
.menu-product-form {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;

  h4 {
    margin: 0;
    margin-right: 2rem;
  }

  button {
    .mat-icon {
      margin: 0;
    }
  }
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding: 10px 15px;

    h4 {
      margin: 0;
      font-size: 1.25rem;
      color: #333;
    }

    h4.menu-section {
      margin: 0;
      font-size: 1rem;
      color: #007bff;
    }
  }

  .card-body {
    padding: 15px;
  }
}

.button-container {
  display: flex;
}

.mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.mat-accordion .mat-expansion-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel {
  margin-bottom: 10px;
}