<div class="container mt-5">
  <h3 class="text-center mb-4">Gestión de Alérgenos</h3>

  <div class="card mb-4">
    <div class="card-header">
      <h4>{{ editMode ? 'Editar Alérgeno' : 'Crear Alérgeno' }}</h4>
    </div>
    <div class="card-body">
      <form [formGroup]="allergenForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Abreviación</mat-label>
              <input matInput formControlName="abbreviation" />
              <mat-error *ngIf="allergenForm.get('abbreviation')?.invalid">Abreviación es requerida y debe tener menos de 4 caracteres.</mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="allergenName" />
              <mat-error *ngIf="allergenForm.get('allergenName')?.invalid">Nombre es requerido y debe tener menos de 10 caracteres.</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <button mat-raised-button color="primary" type="submit" [disabled]="allergenForm.invalid">
            {{ editMode ? 'Actualizar' : 'Crear' }}
          </button>
          <button mat-button color="warn" type="button" *ngIf="editMode" (click)="resetForm()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <h4>Lista de Alérgenos</h4>
    </div>
    <div class="card-body">
      <table mat-table [dataSource]="allergens" class="w-100 centered-table">
        <ng-container matColumnDef="abbreviation">
          <th mat-header-cell *matHeaderCellDef class="header-cell"> Abreviación </th>
          <td mat-cell *matCellDef="let allergen" class="cell"> {{ allergen.abbreviation }} </td>
        </ng-container>
  
        <ng-container matColumnDef="allergenName">
          <th mat-header-cell *matHeaderCellDef class="header-cell"> Nombre </th>
          <td mat-cell *matCellDef="let allergen" class="cell"> {{ allergen.allergenName }} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="header-cell"> Acciones </th>
          <td mat-cell *matCellDef="let allergen" class="cell">
            <button mat-icon-button color="primary" (click)="onEdit(allergen)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="onDelete(allergen.allergenId)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="['abbreviation', 'allergenName', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['abbreviation', 'allergenName', 'actions'];"></tr>
      </table>
    </div>
  </div>
  
</div>
