@import '../../../styles/colors.scss';

.container {
    min-height: 100vh;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0;
    margin-top: 80px !important;
    background-color: $tertiary;

    .menu-header {
        padding: 0px;
        background-color: $dark;
        color: $gold;
        border-radius: 5px 5px 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px; // Aumenta la altura del menu-header
        position: fixed;
        top: 0; // Mantén el encabezado en la parte superior
        width: 100%;
        z-index: 1000; // Asegúrate de que esté por encima del contenido

        .menu-logo {
            height: 100%;
            max-height: 60px; // Ajusta el tamaño según tus necesidades
            width: auto;
        }

        h3 {
            margin: 0;
            padding: 10px;
        }

        button {
            margin-right: 10px;
        }
    }
}

.menu-section {
    margin-bottom: 20px;
    font-style: italic;

    h4 {
        background-color: $dark;
        margin: 0;
        margin-bottom: 5px;
        color: $gold;
        padding: 10px;
        font-style: italic;
    }
}

.menu-products {
    list-style-type: none;
    padding: 0;
}

.menu-product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .product-info {
        flex: 1;
        display: flex;
        flex-direction: column;

        .menu-product-name {
            font-weight: bold;
            margin-bottom: 5px;
        }

        .menu-product-allergens {
            font-style: italic;
            color: gray;
        }
    }

    .menu-product-services {
        flex: 1;
        text-align: right;
        margin-right: 5px;

        ul {
            padding: 0;
            list-style-type: none;
        }

        li {
            margin-bottom: 5px;
        }
    }
}
