$primary: #BBAB8C;
$secondary: #D8C3A5;
$tertiary: #FAEED1;
$light-beige: #FDF7E4;
$dark:#363434;
$gray: #cccccc;
$light-gray: #d6d6d6;
$white: #ffffff;
$black: #000000;
$yellow: #f7ca56;
$orange: #f7a254;
$gold: #F9B512;
$red: #ff0000;
$green: #02662B;
$blue: #0180C6;
$lightBlue: #80BFE2;
$lightRed: #e9402d;
$lightGreen: #5AD47D;

