<div class="forgotten-password-container">
    <mat-card class="forgotten-password-card">
      <mat-card-header>
        <img src="../../../assets/Images/logodorado.png" alt="logo del caracol del lolo">
      </mat-card-header>
      <mat-card-content>
        <form class="forgotten-password-form" [formGroup]="forgottenPasswordForm">
          <mat-form-field>
            <input #emailInput matInput placeholder="Email" type="email" formControlName="email">
            <mat-error *ngIf="forgottenPasswordForm.get('email')?.hasError('required')">El email es requerido</mat-error>
            <mat-error *ngIf="forgottenPasswordForm.get('email')?.hasError('email')">Email inválido</mat-error>
          </mat-form-field>
          <button (click)="resetPassword(emailInput.value)" mat-raised-button color="primary" [disabled]="!forgottenPasswordForm.valid">Restablecer contraseña</button>
        </form>
        <button mat-button color="accent" (click)="goToLogin()">Volver al Login</button>
      </mat-card-content>
    </mat-card>
  </div>
  