<div class="global-container">
	<div class="header">
		<div class="menu-btn">
			<button mat-raised-button (click)="matDrawer.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
		</div>
		<div class="header-title">
			<!-- <div class="title">
				<h2>ABACERÍA EL LOLO</h2>
			</div> -->
			<img src="../../../assets/Images/logodorado.png" alt="logotipo del bar" style="height: 50px; width: 60px;">
		</div>
		<div class="logout-btn">
			<button (click)="logout()" mat-icon-button>
				<span class="material-symbols-outlined">
					logout
				</span>
			</button>
		</div>
	</div>

	<mat-drawer-container class="drawer-container">
		<mat-drawer #matDrawer appDrawerMode opened>
			<div class="sidenav">
				<mat-nav-list class="list">
					<mat-list-item class="customItem" routerLink="/sections-and-products">
						<span class="material-symbols-outlined">
							restaurant_menu
						</span>
						<span class="nav-span">
							SECCIONES Y PRODUCTOS
						</span>
					</mat-list-item>
					<mat-list-item class="customItem" routerLink="/allergens">
						<span class="material-symbols-outlined">
							grocery
						</span>
						<span class="nav-span">
							ALÉRGENOS
						</span>
					</mat-list-item>
					<mat-list-item class="customItem" routerLink="/type-of-serving">
						<span class="material-symbols-outlined">
							cooking
						</span>
						<span class="nav-span">
							TIPOS DE EMPLATADO
						</span>
					</mat-list-item>
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							menu_book
						</span>
						<span class="nav-span">
							VISUALIZACIÓN DE CARTA
						</span>
					</mat-list-item>
					<hr class="divider">
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							inventory_2
						</span>
						<span class="nav-span">
							INVENTARIO
						</span>
					</mat-list-item>
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							deployed_code_account
						</span>
						<span class="nav-span">
							EMPLEADOS
						</span>
					</mat-list-item>
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							calendar_clock
						</span>
						<span class="nav-span">
							HORARIOS
						</span>
					</mat-list-item>
					<hr class="divider">
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							manage_accounts
						</span>
						<span class="nav-span">
							USUARIOS
						</span>
					</mat-list-item>
					<mat-list-item class="customItem">
						<span class="material-symbols-outlined">
							monitoring
						</span>
						<span class="nav-span">
							ESTADÍSTICAS
						</span>
					</mat-list-item>
				</mat-nav-list>
			</div>
		</mat-drawer>

		<mat-drawer-content>
			<div class="main-content">
				<router-outlet></router-outlet>
			</div>
		</mat-drawer-content>
	</mat-drawer-container>
</div>